{% extends 'layout/employee_layout.html' %}
{% block title %} Thu ngân {% endblock %}

{% block sidenav %}
<div class="side-nav">
          <div class="side-nav-inner">
            <ul class="side-nav-menu scrollable">
              <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                    <i class="anticon anticon-table"></i>
                  </span>
                  <span class="title"> Thu ngân </span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{url_for('cashier')}}">Lịch khám bệnh</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
{% endblock %}
{% block content %}
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="card">
              <div class="card-body">
                <h4>Đơn thuốc hiện có</h4>
                <div class="m-t-25">
                  <table id="dataTable" class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Tình trạng thanh toán</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if prescriptions %}
                      {% for p in prescriptions %}
                        <tr>
                          <td>{{ p.id }}</td>

                          {% if p.receipt is none %}
                          <td>Chưa thanh toán</td>
                          {% else %}
                          <td>Đã thanh toán</td>
                          {% endif %}

                          {% if p.receipt is none %}
                          <td>
                            <a href="{{ url_for('create_bill', prescription_id=p.id)}}">Tạo hóa đơn</a>
                          </td>
                          {% else %}
                          <td>
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Tình trạng thanh toán</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Wrapper END -->
{% endblock %}