{% extends 'layout/employee_layout.html' %}
{% block title %} Thu ngân {% endblock %}

{% block sidenav %}
<div class="side-nav">
          <div class="side-nav-inner">
            <ul class="side-nav-menu scrollable">
              <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                    <i class="anticon anticon-table"></i>
                  </span>
                  <span class="title"> Thu ngân </span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{url_for('cashier')}}">Lịch khám bệnh</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
{% endblock %}
{% block content %}
<form action="{{ url_for('create_bill', user_id=user.id) }}" method="post">
    <div class="main-content">
            <div class="card">
              <div class="card-body">
                <h4>Tạo hóa đơn</h4>
                  {% if user %}
                    <div class="form-group col-md-6">
                        <label for="patientName">Tên bệnh nhân</label>
                        <input type="text" class="form-control" id="patientName" name="patientName" value="{{user.name}}">
                    </div>
                  {% endif %}
                <div class="form-group col-md-6">
                    <label for="checkupDate">Ngày khám</label>
                    <input type="date" class="form-control" id="checkupDate" name="checkupDate" placeholder="Nhập ngày khám">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="symptoms">Tiền khám</label>
                        <input type="text" class="form-control" id="symptoms" name="checkupFees" value="100000">
                    </div>
                    <div class="form-group col-md-6">
                        {% if user_medicine_fees %}
                        <label for="predict">Tiền thuốc</label>
                        <input type="text" class="form-control" id="predict" name="medicineFees" value="{{total_medicine_fees}}">
                        {% endif %}
                    </div>

                </div>
                <div class="form-group col-md-6">
                        <label for="total_fees">Tổng tiền</label>
                        <input type="text" class="form-control" id="total_fees" name="total" value="">
                </div>
              </div>
                <div>
                      <button type="submit" class="btn btn-primary">Tạo hóa đơn</button>
                  </div>
            </div>
    </div>
</form>

{% endblock %}