{% extends 'layout/employee_layout.html' %}
{% block title %} Thu ngân {% endblock %}
{% block script %}

{% endblock %}
{% block sidenav %}
<div class="side-nav">
          <div class="side-nav-inner">
            <ul class="side-nav-menu scrollable">
              <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                    <i class="anticon anticon-table"></i>
                  </span>
                  <span class="title"> Thu ngân </span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{url_for('cashier')}}">Lịch khám bệnh</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
{% endblock %}
{% block content %}
<form action="{{ url_for('create_bill',prescription_id=prescriptions.id) }}" method="post">
    <div class="main-content">
            <div class="card">
              <div class="card-body">
                <h4>Tạo hóa đơn</h4>
                  {% if user %}
                    <div class="form-group col-md-6">
                        <label for="patientName">Tên bệnh nhân</label>
                        <input type="text" class="form-control" id="patientName" name="patientName" value="{{user.name}}">
                    </div>
                  {% endif %}
                <div class="form-group col-md-6">
                    <label for="checkupDate">Ngày khám</label>
                    <input type="date" class="form-control" id="checkupDate" name="checkupDate" value="{{ current_date }}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="symptoms">Tiền khám</label>
                        <input type="text" class="form-control" id="symptoms" name="checkupFees" value="100000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="predict">Tiền thuốc</label>
                        <input type="text" class="form-control" id="predict" name="medicineFees" value="{{total_cost|int}}">
                    </div>

                </div>
                <div class="form-group col-md-6">
                        <label for="total_fees" class="text-danger">Tổng tiền</label>
                        <input type="text" class="form-control text-danger" id="total_fees" name="total" value="">
                </div>
                  <script>
                        function updateTotal() {
                            var checkupFees = parseInt(document.getElementById('symptoms').value) || 0;
                            var medicineFees = parseInt(document.getElementById('predict').value) || 0;

                            var totalFees = checkupFees + medicineFees;
                            document.getElementById('total_fees').value = totalFees;
                        }

                        document.addEventListener("DOMContentLoaded", updateTotal);
                        document.getElementById('symptoms').addEventListener("input", updateTotal);
                        document.getElementById('predict').addEventListener("input", updateTotal);
                    </script>
              </div>
                <div>
                      <button type="submit" class="btn btn-primary">Tạo hóa đơn</button>
                  </div>
            </div>
    </div>
</form>

{% endblock %}