{% extends 'layout/employee_layout.html' %}
{% block title %} Bác sĩ {% endblock %}

{% block sidenav %}
<div class="side-nav">
          <div class="side-nav-inner">
            <ul class="side-nav-menu scrollable">
              <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                    <i class="anticon anticon-table"></i>
                  </span>
                  <span class="title"> Bác sĩ </span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{url_for('doctor')}}">Lịch khám bệnh</a>
                  </li>
                  <li>
                    <a href="{{url_for('list_medicine')}}">Xem thuốc</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
{% endblock %}
{% block content %}
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="card">
              <div class="card-body">
                <h4>Danh sách khám bệnh</h4>
                <div class="m-t-25">
                  <table id="dataTable" class="table">
                    <thead>
                      <tr>
                        <th>Tên thuốc</th>
                        <th>Đơn vị</th>
                        <th>Giá</th>
                        <th>Kho</th>

                      </tr>
                    </thead>
                    <tbody>
                          {% if medicine %}
                          {% for m in medicine %}
                            <tr>
                              <td>{{ m.name }}</td>
                              <td>{{ m.unit }}</td>
                              <td>{{ m.price|int }}</td>
                              {% if m.in_stock == True %}
                                <td>Còn</td>
                              {% else %}
                                <td>Hết</td>
                              {% endif %}

                            </tr>
                          {% endfor %}
                          {% endif %}
                        </tbody>
                        <tr>
                        <th>Tên thuốc</th>
                        <th>Đơn vị</th>
                        <th>Giá</th>
                        <th>Kho</th>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Wrapper END -->
{% endblock %}